body {
    background-color: #f8f9fa;
}
.table-container {
    margin: 2rem auto;
    max-width: 1000px;
}
.btn-group {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#month-year {
    font-weight: bold;
    margin: 0 1rem;
}