html {
    scroll-behavior: smooth;
}
  /* General Reset */
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5c52b;
}

/* Navbar styling */
.navbar {
    background-color: #f5c52b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: black;
}

/* Hero Section */
.hero-section {
    background-color: #f5c52b;
    color: #000;
    padding: 150px 0;
    text-align: center;
}

.hero-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-section .btn {
    font-weight: bold;
    font-size: 1.25rem; /* Increase font size */
    padding: 10px 25px; /* Adjust padding for a larger button */
    border-radius: 50px; /* Optional: increase border-radius for rounded corners */

}


/* About and Services Section */
.about-section, .services-section {
    background-color: #f8f9fa;
    padding: 80px 20px;
    text-align: center;
    height: 70vh;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
}

.section-text {
    font-size: 1rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
}

.highlight-text {
    color: #f0b71b;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section h2 {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 1.5rem;
    }
}